@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
<div class=" container">
    <h2 class="title-head-contact">
        Bản đồ cửa hàng
    </h2>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d244.54643168706102!2d106.1430438090701!3d11.280299573142198!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x310b6b0002f3c02b%3A0xa52bd7342f941ffa!2zVGnhu4dtIMSQaeG7h24gUGjDumMgS2hhbmc!5e0!3m2!1svi!2s!4v1716092460643!5m2!1svi!2s" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
    <!-- Map End -->
    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="contact__text">
                        <div class="section-title">
                            @* <span>Information</span> *@
                            <h2>Thông Tin Liên Hệ</h2>
                            <p>

                            </p>
                        </div>
                        <ul>
                            <li>
                                <h4>CỬA HÀNG THIẾT BỊ ĐIỆN GIA DỤNG PHÚC KHANG</h4>
                                <p>
                                    &#127968; 281 đường Nguyễn Văn Linh, Trường Tây, Hoà Thành, Tây Ninh <br />
                                    &#9743; 0985288757 <br />
                                    &#128336; Mở cửa: Từ thứ 2 đến thứ Bảy hàng tuần (6h30 - 17h30)
                                </p>
                                <a href="https://zalo.me/0985288757">
                                    <img title="Chat Zalo" src="~/images/icon/Zalo.jpg" style="width: 100px; height: auto;" />
                                </a>


                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>